@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
}

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-accent-500: #7878d7;
  --color-accent-600: #4863f7;

  --color-alert-600: #ff5c5c;

  --color-gray-100: #737373;
  --color-gray-200: #424242;
  --color-gray-700: #1a1a1a;
  --color-gray-800: #111111;
  --color-gray-900: #0d0d0d;

  --color-input: #b6b6b6;
  --color-muted-foreground: #b6b6b6;

  --text-heading-lg: 1.75rem;
  --text-heading-md: 1.5rem;

  --leading-heading: 120%;
  --leading-body: 150%;
}

@theme inline {
  --font-inter: var(--font-inter), 'sans-serif';

  --color-primary: var(--color-accent-600);
  --color-secondary: var(--color-accent-600);
  --color-background: var(--color-gray-900);
}

body {
  font-family: var(--font-inter);
}

@layer base {
  * {
  }
  body {
    @apply bg-background;
  }
}
